$--clr-veryDarkBlue: hsl(233, 47%, 7%); // main background
$clr-darkDesaturatedBlue: hsl(244, 38%, 16%); // card background
$clr-softViolet: hsl(277, 64%, 61%); // accent
$clr-white: hsl(0, 0%, 100%); // main heading, stats
$clr-slightlyTransparentWhiteP: hsla(0, 0%, 100%, 0.75); // main paragraph
$clr-slightlyTransparentWhiteH: hsla(0, 0%, 100%, 0.6); // stat headings
